body {
    background-color: #9c15f0; /* Replace with your desired color */
  }


  #countLabel{
    display: block;
    text-align: center;
    font-size: 50px;

}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.button-container button {
    font-size: 30px;
    margin: 1 30px;
}

